.fullpage {
	margin-left: 10px;
}

h1 {
	font-size: 20px; 
	font-weight: normal; 
	margin: 10px 0px 0px 0px; 
}

div.bluetitle {
    color: white;
    background-color: #2479f7;
    width: 100%;
    height: 16px;
    padding: 2px;
    margin-top: 4px;
}

ul.main-ul {
    list-style-type: square;
}

li.main-li {
    margin: 0px 0px 0px 30px;
}

p {
	margin: 8px 0px;
}

#errormessage {
    display: none;
    position: absolute;
    background-color: #f2dede;
    width: 425px;
    height: 60px;
    left: 100px;
    top: 150px;
    padding: 30px;
    overflow: visible; 
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.4);
}

#successmessage {
    display: none;
    position: absolute;
    background-color: #ddffdd;
    width: 425px;
    height: 60px;
    left: 100px;
    top: 150px;
    padding: 30px;
    overflow: visible; 
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.4);
}

#mainitemtable {
	width: 100%;
	overflow-x: auto;
}

.itemcolumnheader {
	margin: 0px 0px 0px 0px;
	border: 1px solid black; 
	text-align: center; 
	font-size: 1em;
	color: #ffffff;
	background-color: #2479f7;
}

tr:nth-child(even) {
	background-color: #e5e5e5;
}

#itemnameinput {
	height: 1.72em; 
	width: 15em;
	font-size: 1em;
	text-indent: 0.5em;
	color: lightgray;
	margin: 8px 5px 8px 0px;
}

#qtyinput {
	height: 1.72em; 
	width: 2em;
	font-size: 1em;
	text-align: center; 
	margin: 8px 5px 8px 0px;
}

#commentinput {
	height: 1.72em; 
	width: 15em;
	font-size: 1em;	
	text-indent: 0.5em;
	color: lightgray;
	margin: 8px 5px 8px 0px;
}

.checkboxfield {
	padding: 3px;
	width: 12px;
	height: 12px;
}

.qtyfield {
	text-align: center; 
}

td {
	padding: 0px 5px;
}

#dadnotifyinput {
	height: 1.72em; 
	width: 20em;
	font-size: 1em;
	text-indent: 0.5em;
	color: lightgray;
	margin: 0px 5px 0px 0px;
}

button {
    font-size: 1em;
    padding: 0px 5px;
    margin: 0px 5px 0px 0px; 
	height: 2em;
}

button:hover {
    font-size: 1em;
    padding: 0px 5px;
	height: 2em;
	color: white; 
	background-color: #2479f7;
}

.buttonbar {
	margin: 12px 0px 0px 0px;
}

.buttonbar-no-top-margin {
	margin: 0px 0px; 12px;
}
